<!DOCTYPE html>
<html>
	<head lang="en">
	    <meta charset="UTF-8">
	    <title></title>
        <style>
            [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak,
            .x-ng-cloak {
                display: none !important;
            }
        </style>
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
	</head>
	<body ng-app="myApp">
	<div class="container" ng-controller="MainController" >
            <h2>Angular Sample App</h2>

            <!--<div eh-simple></div>-->

            <!--<eh-templ></eh-templ>-->

            <eu-alert type="warning" close="closeAlert()">EU-alert</eu-alert>
            <eu-alert type="success">Eu ~~~ !</eu-alert>

            <div class="row">
                <div class="col-md-6">
                filter: <input type="text" ng-model="nameFilter"></br></br>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <table class="table">
                        <tr ng-repeat="item in customers | orderBy:'city' | filter:{name: nameFilter}">
                            <td>{{item.name | upper }}</td>
                            <td>{{item.city}}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <hr>
            <button class="btn btn-primary" ng-click="addCustomer()">click me</button>
            name: <input type="text" ng-model="newCustomer.name">
            city: <input type="text" ng-model="newCustomer.city">

	</div>

        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
        <script src="bower_components/angular/angular.js"></script>

        <script src="app.js"></script>
        <script src="customerService.js"></script>
        <script src="mainController.js"></script>
        <script src="alertController.js"></script>


    </body>
</html>
