.navbar {
    background-color: $white;
    border-bottom: solid thin $gray;
    display: inline-block;
    font-family: 'Oswald', sans-serif;
    left: 0;
    padding: 10px 10%;
    position: fixed;
    right: 0;
    top: 0;
    z-index: $top-layer;
}

.navbar__logo {
    float: left;
    height: 40px;
    width: 40px;
}

.navbar__items {
    float: right;
}

.navbar__item {
    color: inherit;
    display: inline-block;
    line-height: 40px;
    padding: 0 10px;
    text-transform: uppercase;
    text-decoration: inherit;
    @extend %h3fontsize;
}
