@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,300);

body {
    font-family: 'Lato', sans-serif;
}

/* HEADERS */
%h1fontsize {
    font-size: 40px;
}

%h2fontsize {
    font-size: 24px;
}

%h3fontsize {
    font-size: 18px;
}

%pfontsize {
    font-size: 14px;
}
