

<div class="row">

<div class="col-md-6 col-md-offset-3">

    <uib-alert ng-if="vm.alert" type="danger" close="vm.closeAlert()">{{vm.alert}}</uib-alert>
    <button type="button" class='btn btn-success btn-sm center-block' ng-click="vm.showAlert()">Show Alert</button>

    <p>Count: {{vm.count}}</p>

</div>

</div>

<div class="row">

    <div class="col-md-6 col-md-offset-3">

        <input type="text" class="form-control"
               name="text" ng-model="vm.text">

    </div>

</div>

