<h1>ADD</h1>


{{vm.userId}}

<div class="row">
    <div class="col-xs-6 col-md-4">
    <form>
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" placeholder="name">
        </div>
        <div class="form-group">
            <label for="age">Age</label>
            <input type="text" class="form-control" id="age" placeholder="age">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
        </div>
        <div class="form-group">
            <label for="address">Adress</label>
            <input type="text" class="form-control" id="address" placeholder="address">
        </div>
        <div class="form-group">
            <label for="City">City</label>
            <input type="text" class="form-control" id="city" placeholder="city">
        </div>
        <div class="form-group">
            <label for="zip">Zip</label>
            <input type="text" class="form-control" id="zip" placeholder="zip">
        </div>

        <button type="submit" class="btn btn-default">Save</button>
    </form>
        </div>
</div>
